button {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-radius: 4px;
  cursor: pointer;
}

.tabButton {
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  margin: 0 2px 0 2px;
  border-radius: 6px;
  padding: 0 12px 0 12px;
}

.optionsButton {
  width: 150px;
  height: 150px;
  font-size: 16px;
  border-radius: 8px;
}
